.filters {
  width: 100%;
  margin-top: 1rem;
}

.filters h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #4b5563;
  margin: 0.5rem;
}

.filters .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.text-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
}

.text-input input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #4b5563;
}

.text-input input:focus {
  border: 2px solid #2684ff;
}

.status-input,
.language-input,
.level-input {
  max-width: 25rem;
  font-size: 0.8rem;
  margin: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.status-input label,
.langualge-input label,
.level-input label {
  font-size: 0.8rem;
  font-weight: 400;
  color: #4b5563;
  margin: 0.2rem;
}

.videos-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 6rem;
  margin: 0.5rem;
}

.videos-input label {
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}

.videos-input input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 2rem;
  height: 1rem;
  background: #ccc;
  border-radius: 100px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

.videos-input input:checked[type="checkbox"] {
  background: #2684ff;
}

.videos-input input[type="checkbox"]::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.videos-input input:checked[type="checkbox"]::after {
  left: 50%;
}

@media screen and (max-width: 768px) {
  .filters {
    flex-direction: column;
  }
  .text-input {
    width: 100%;
  }
  .status-input,
  .language-input,
  .level-input {
    max-width: 100%;
    width: 100%;
  }
}
