@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  size-adjust: 120%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif !important;
  background: #e5e5e5;
}

a {
  text-decoration: none;
  color: unset;
  transition: all 0.2s ease-in-out;
}

.a-no-style {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-decoration: underline !important;
  color: blue !important;
}

input {
  font-family: roboto, sans-serif !important;
  outline: none;
}
