@font-face {
  font-family: "jetbrainsmono";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: jetbrainsmono, sans-serif;
  background: #e5e5e5;
}

a {
  text-decoration: none;
  color: unset;
  transition: all 0.2s ease-in-out;
}
