#title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
  color: #4b5563;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.filters-container .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
